global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'kubernetes-pods'
    kubernetes_sd_configs:
      - role: pod

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']
